.CSong{
  margin: 10px 0;
}
.CAlbum{
  padding: 0 10px;
  border-bottom: 1px solid #cda574;
}
.CAlbum > div {
  position: relative;
  width: 100%;
}
.CAlbum button {
  cursor: pointer;
  color: white;
  background: #cda574;
  border: 1px solid #cda574;
  padding: 5px 15px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.CAlbum button:hover {
  background: #b17d3d;
}