body{
  background-color: #f0f0f0;
}
h2{
  text-align: center;
}
h4 {
  margin: 0;
}
.list_content{
  display: -webkit-box;
  width: 80%;
  margin: auto;
}
.main_album_list {
  height: fit-content;
}
.main_album_list, .main_song_list{
  background-color: #fff;
  width: 43%;
  margin: 0 20px;
}
.row_album{
  padding: 10px;
  border-bottom: 1px solid #cda574;
  position: relative;
}
.row_song li{
  margin: 10px 0;
}
.row_album.selected{
  background-color: #f6f6f6;
}