body{
  background-color: #f0f0f0;
}
h2{
  text-align: center;
}
.list_content{
  display: -webkit-box;
  width: 80%;
  margin: auto;
}
.main_album_list {
  height: fit-content;
}
.main_album_list, .main_song_list{
  background-color: #fff;
  width: 43%;
  margin: 0 20px;
}